.footer {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
  background-color: #f7f9f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-links a {
  font-size: 1.2rem;
  color: #777;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1.5rem;
  }

  .footer .logo {
    width: 16rem;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
