/* =========================
   Navigation
========================= */

.navbar {
  width: 100%;
  max-width: 160rem;
  height: 12rem;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.logo {
  width: 32rem;
  height: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.nav-links a {
  text-decoration: none;
  display: inline-block;
  color: #848484;
}

.nav-links-auth {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.nav-links-auth a {
  text-decoration: none;
  display: inline-block;
  color: #848484;
}

.nav-links-auth .start-tracking {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
