html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: white;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
